<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dooboo.dao.dbPhotoMapper"> 
	<select id="count" resultType="int">
		SELECT count(*)
		FROM DB_PHOTO
	</select>
	<select id = "selectAllPhoto" parameterType="SearchCondition" resultType="DB_PhotoDTO">
		SELECT *
		  FROM (SELECT A.*, Rownum AS Rnum
				FROM DB_PHOTO A
			  )
		WHERE Rnum between #{startRow} and #{endRow}
	</select>
	<select id="retrieveRecRslt"  parameterType="String" resultType="DB_PhotoJoinRecDTO">
		SELECT a.no as no
			  ,b.photonum as photonum
			  ,b.recommender as recommender
			  ,b.recyn as recyn
		  FROM DB_PHOTO a 
		       JOIN DB_REC b
		         ON a.no = b.photonum
		  WHERE b.recommender = #{recommender}   
		    AND b.recyn = 1
	</select>
	<select id="retrieveRecRsltN"  parameterType="String" resultType="DB_PhotoJoinRecDTO">
		SELECT a.no as no
			  ,b.photonum as photonum
			  ,b.recommender as recommender
			  ,b.recyn as recyn
		  FROM DB_PHOTO a 
		       JOIN DB_REC b
		         ON a.no = b.photonum
		  WHERE b.recommender = #{recommender}   
		    AND b.recyn = 0
	</select>
	<select id="retrieveNoRecPhotonum"  parameterType="String" resultType="DB_PhotoDTO">
		SELECT * 
		  FROM DB_PHOTO
		 WHERE no NOT IN(
						 SELECT photonum 
						   FROM DB_REC
						  WHERE recommender = #{recommender}   		 
		 				)
	</select>
</mapper>        